* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#sidebar {
  right: 50px;
  display: flex;
  width: 25%;
  flex-direction: column;
  // background-color: white;
  #introduction {
    padding-right: 20px;
    width: inherit;
    position: fixed;
    top: 85px;
    height: 300px;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .portrait {
      width: 200px;
      height: 200px;
      img {
        width: auto;
        height: 100%;
      }
    }
    h1 {
      text-align: right;
    }
  }

  nav {
    padding-right: 20px;
    width: inherit;
    position: fixed;
    top: 350px;
    ul {
      margin-top: 85px;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      li {
        margin: 10px 0;
        .navbar-item {
          color: black;
          text-decoration: none;
          font-size: 24px;
        }
      }
    }
  }
}

main {
  flex-basis: 75%;
  display: block;
  // margin-top: 100px;
  padding-left: 70px;
  padding-right: 30px;
  background-color: rgba(250, 250, 250, 0.95);
  #about {
    margin: 100px 0 50px 0;
    border-bottom: 2px solid grey;
  }
  #skills {
    margin-top: 200px;
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        flex-basis: 25%;
        margin-top: 18px;
        i {
          font-size: 3.5rem;
        }
      }
    }
  }
}

#background-image {
  background-image: url('/images/london.jpeg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 140%;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vw;
  z-index: -2;
  opacity: .75;
}
